<ion-header>

    <ion-navbar color="primary">
      <ion-title>Followings</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item-sliding *ngFor="let following of followings">
        <button ion-item (click)="goToUserProfilePage(following.id)">
          <ion-avatar item-start>
            <!-- <img [src]="item.profilePic" /> -->
          </ion-avatar>
          <h2>{{following.name}}</h2>
          <p>{{following.about}}</p>
          <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
        </button>
  
        <ion-item-options>
          <button ion-button color="primary" (click)="followUser(following.id)">
            Unfollow  
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>