
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>Your Profile</ion-title>
  </ion-navbar> 

</ion-header> 

<ion-content>
  <div class="splash-bg"></div>

  <div class="splash-info">
    <div class="splas"></div>
    <div class="splash-logo" [ngStyle]="{'background-image': 'url(' + userImage + ')'}">
    </div>
  </div>

  <ion-grid  class="profilename">
    <ion-row text-center>
      <ion-col>
        <h3>{{user?.name}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row text-center class="profile-icon-text">
      
      <ion-col>
        <button class="transparent">
          <ion-icon name="paper" class="medium-icon picon"></ion-icon><br>
          Posts
        </button>
      </ion-col>
      
      <ion-col>
      <button class="transparent" (click)="goToUpdateInfoPage()">
        <ion-icon name="list-box" class="medium-icon picon"></ion-icon><br>
        Update info
      </button>
      </ion-col>
    
      <ion-col>
      <button class="transparent" (click)="goToFollowers(user.id)">
        <ion-icon name="people" class="medium-icon picon"></ion-icon><br>
        Followers
      </button>
      </ion-col>

      <ion-col>
        <button class="transparent" (click)="goToFollowings(user.id)">
          <ion-icon name="contacts" class="medium-icon picon" ></ion-icon><br>
          Followings
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
    <p text-center class="padding-right-left">{{user?.about}}</p>
  </ion-row>
</ion-grid>

<ion-grid>

    <ion-row *ngIf="user?.location != null">
      <ion-col>
          <ion-icon class="padding-left" name="home"></ion-icon>
      </ion-col>
      <ion-col col-11>
          Lives in {{user?.clocation}}
      </ion-col>
    </ion-row>

    <ion-row *ngIf="user?.ccountry != null">
        <ion-col>
            <ion-icon class="padding-left" name="pin"></ion-icon>
        </ion-col>
        <ion-col col-11>
            From {{user?.ccountry}}
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-1>
              <ion-icon class="padding-left" name="md-bulb"></ion-icon>
          </ion-col>
          <ion-col col-11>
              Date of Birth: {{user?.dob}}
          </ion-col>
        </ion-row>

          <ion-row>
            <ion-col>
                <ion-icon class="padding-left" name="stopwatch"></ion-icon>
            </ion-col>
            <ion-col col-11>
                Joined at: {{user?.created_at}}
                </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-icon class="padding-left" name="at"></ion-icon>
              </ion-col>
              <ion-col col-11>
                  Email: {{user?.email}}
              </ion-col>
          </ion-row>

          <ion-row>
                <ion-col>
                    <ion-icon class="padding-left" name="phone-portrait"></ion-icon>
                </ion-col>
                <ion-col col-11>
                    Contact: +93 78 85452003
                </ion-col>
          </ion-row>
</ion-grid>
<hr>
<ion-grid>
  <ion-row>
    <ion-col>
      <h5>Recently uploaded images</h5>
    </ion-col>
  </ion-row>
<ion-row>

<ion-col col-6>
    <img src="assets/img/advance-card-bttf.png" class="featured-images">
</ion-col>
<ion-col col-6>
    <img src="assets/img/rundmc-live.png" class="featured-images">   
</ion-col>

</ion-row>

<ion-row>

    <ion-col col-4>
        <img src="assets/img/lion.jpg" class="featured-images">
    </ion-col>
    <ion-col col-4>
        <img src="assets/img/advance-card-tmntr.jpg" class="featured-images">   
      </ion-col>

    <ion-col col-4>
        <img src="assets/img/ica-slidebox-img-3.png" class="featured-images">   
    </ion-col>

</ion-row>
<ion-row>
  <ion-col>
      <ion-buttons>
        <button (click)="goToAllImagesPage(user.id)" ion-button block outline end>Seel all photos</button>
      </ion-buttons>
  </ion-col>
</ion-row>

</ion-grid>
<hr>


<ion-card (click)="goToSubmitPostPage()">
    <ion-item>
        <p style="padding: 20px;font-size:15px">What do you have in your mind ?</p>
    </ion-item>
</ion-card>
<ion-card *ngFor="let post of Posts">
  <div>
      <ion-item>
          <ion-avatar item-start  (click)="goToUserProfilePage(post.post_user.id)">
            <img src="{{post.post_user.image_path}}">
          </ion-avatar>
              <h2><b>{{post.post_user.name}}</b>
                
                <span *ngIf="post.post_user.id == AuthId">
                    <ion-fab right bottom>
                        <button ion-fab class="fab-button" ><ion-icon ios="ios-more" md="md-more"></ion-icon></button>
                        <ion-fab-list side="left" class="fab-action">
                          <button ion-fab color="danger" (click)="showConfirm(post.id)"><ion-icon name="trash"></ion-icon></button>
                          <button ion-fab color="light"  (click)="editPost(post)"><ion-icon name="md-create"></ion-icon></button>
                        </ion-fab-list>
                      </ion-fab>
                  
                </span>  
              </h2>
          <ion-note>
              {{post.created_at}}
          </ion-note>
        </ion-item>
  
        <!-- <img ng-if="post.image" [src]="item.image"> -->
    
        <ion-card-content (click)="goToSinglePost(post.id)">
          <p>{{post.body}}</p>
        </ion-card-content>
  </div>
  
  
  <hr>
  <!-- <form #form="ngForm">
    <ion-item>
        <ion-input hidden [(ngModel)]="post.id" name="postId"></ion-input>
        <ion-input placeholder="Write something about this post..." ngModel name="commentBody"></ion-input>
    </ion-item>z
      <button ion-button small outline round class="comment-button" end (click)="onSubmit(form)">
        <ion-icon ios="ios-send" md="md-send"></ion-icon>
      </button> 
    <hr style="position:relative;top:7-15px"> 
  </form> -->
  <ion-item-group>  

    <ion-grid>

        <ion-row *ngFor="let comment of post.latest_comments">
          <ion-col col-2 style="margin-left:0px;padding:0px">
              <ion-item item-right style="margin-right:0px;padding-right:0px" >
                <img src={{comment.comment_user.image_path}}>                
              </ion-item>
          </ion-col>
          <ion-col col-10>
              <b (click)="goToUserProfilePage(post.post_user.id)">{{comment.comment_user.name}}</b> <span end>{{comment.created_at}}</span>
              <p>{{comment.body}}</p>
          </ion-col>
        </ion-row>

      
        <ion-row class="likesandcommentsrow"> 
          <ion-col *ngIf="post.likes_count != 0"  class="likes" (click)="openLikesModal(post.id)">
            <a class="padding-left-10px"> {{post.likes_count}} Likes</a>
          </ion-col>

          <ion-col *ngIf="post.comments_count != 0" class="comments" (click)="openCommentsModal(post.id)">
            <a class="padding-left-10px"> {{post.comments_count}} comments</a>
          </ion-col>
          <!-- goToSinglePost(post.id) -->
        </ion-row>

    </ion-grid>
  </ion-item-group>
  <ion-row>
    <ion-col>
      <button ion-button (click)="likePost(post.id)" clear [class.liked]="likeButtonColor" small icon-start>
        <!-- [@hitLike]="state" -->
          <ion-icon  name='thumbs-up'></ion-icon>
          Like
      </button>
    </ion-col>
    <ion-col>
      <button ion-button class="grey" (click)="openCommentsModal(post.id)" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          Comment
        </button>
    </ion-col>
    <ion-col center text-center>
        <button ion-button color="primary" clear small icon-start (click)="sharePost(post.id)">
            <ion-icon name='share'></ion-icon>
            Share
        </button>
    </ion-col>
  </ion-row>

</ion-card>
<h3 style="text-align:center;color:brown"> No other post... </h3>
</ion-content>


<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row style="text-align:center">
            <ion-col (click)="goToHomePage" (click)="goToHomePage()">
                <ion-icon class="footer_icons" ios="ios-list-box" md="md-list-box"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-icon class="footer_icons" style="color:gray" ios="ios-text" md="md-text"></ion-icon>
            </ion-col>
            <ion-col (click)="goTosettingsPage()">
                <ion-icon class="footer_icons" ios="ios-menu" md="md-menu"></ion-icon>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>