<ion-header>

    <ion-navbar color="primary">
      <ion-title>Follwers</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item-sliding *ngFor="let follower of followers">
        <button ion-item (click)="goToUserProfilePage(follower.id)">
          <ion-avatar item-start>
            <!-- <img [src]="follower.profilePic" /> -->
          </ion-avatar>
          <h2>{{follower.name}}</h2>
          <p>{{follower.about}}</p>
          <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
        </button>
  
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            Block  
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>