page-cards {
    .medium-icon{
        zoom: 1.5;
    }

    .transparent{
        background-color: transparent;
        padding: 0px;
        color:#3c3939;
    }
    .padding-right-left{
        padding:0px 5px 0px 5px;
    }
.padding-left{
    padding-left:5px; 
}
.featured-images{
    height: 100px;
    width: 100%;
    // padding:2px;
}
.comments{
     margin-top: -12px;
}

.padding-left-10px{
    padding-left: 15px;
}
.blue{
    color:#a01212;
}
.black{
    color:black;
}
}
